# Create dataset from public data at national level

This file is part of the replication code for: 

Offshore Profit Shifting and Aggregate Measurement: Balance of Payments, Foreign Investment, Productivity, and the Labor Share by Guvenen, Mataloni Jr., Rassier, and Ruhl. 

This version: February 21, 2022

This file processes publicly available data files (located in `1-raw-data`) to create `aggregate.csv` which is saved in the `3-intermediate-files` folder.

In [2]:
import pandas as pd
import numpy as np

## Aggregate data from NIPA

BEA offers the entire NIPA tables as a flat file. It can be downloaded [here](https://apps.bea.gov/iTable/iTable.cfm?reqid=19&step=2#reqid=19&step=2&isuri=1&1921=survey).

In [3]:
bea = pd.read_csv('../1-raw-data/SeriesRegister.txt')
nipa = pd.read_csv('../1-raw-data/NipaDataA.txt')

# Gross value added in business sector (nominal) = A195RC
# Gross value added in business sector (real) = A195RX
# Gross national product (nominal) = A001RC
# Gross domestic product (nominal) = A191RC
# Gross domestic income (nominal) = A261RC
# Coporate business (net income) (nominal) = A439RC
# Compensation of employees (nominal) = A442RC
# Consumption of fixed capital, corporate business (nominal) = A438RC
# Coporate profits w/ inventory valuation and cca, domestic industries = A445RC

series = {'A195RC':'gvabusn', 'A195RX':'gvabusr', 'A001RC':'gnpn', 'A191RC':'gdpn',
         'A261RC':'gdin', 'A439RC':'corpincn', 'A442RC':'compn', 'A438RC':'cfcn', 'A445RC':'dom_profitn'}

In [4]:
public = nipa[nipa['%SeriesCode'].isin(list(series.keys()))]
public.columns = ['series', 'period', 'value']
public = public.set_index(['series', 'period'])
public = public.unstack(level='series')
public.columns = public.columns.droplevel(level=0)
public = public.rename(columns=series)

for c in public.columns:
    public[c] = public[c].str.replace(',','').astype(int)
    
public = public.loc[1982:2017].copy()

# Express in billions
public = public/1000
public['gva_deflator'] = public['gvabusn']/public['gvabusr']

public.head(1)

series,gnpn,gdpn,gvabusn,gvabusr,gdin,cfcn,corpincn,compn,dom_profitn,gva_deflator
period,,,,,,,,,,
1982,3380.299,3343.789,2568.636,4649.957,3334.953,272.52,1745.861,1275.114,197.27,0.5524

## International transaction accounts

Tables are available to download from [here](https://apps.bea.gov/iTable/iTable.cfm?ReqID=19&step=4&isuri=1&1921=flatfiles&3Place=Y#reqid=19&step=4&isuri=1&1921=flatfiles )

### ITA Table 1.1 (data in millions)

In [7]:
ita11 = pd.read_excel('../1-raw-data/Ita_T1.1.xls', header=5, nrows=44, na_values=['n.a.', '.....', ' ', '\xa0'])
temp = ita11.columns.to_list()
temp[1] = 'Series'
ita11.columns = temp
ita11['Series'] = ita11['Line']+'-'+ita11['Series'].str.strip()
ita11 = ita11.drop('Line', axis=1)
ita11.set_index(['Series'], inplace=True)
ita11 = ita11.transpose()
ita11.index = ita11.index.astype(int)
ita11.head(1)

Series,NaN,1-Exports of goods and services and income receipts (credits),2-Exports of goods and services,3-Goods,4-Services,5-Primary income receipts,6-Investment income,7-Compensation of employees,8-Secondary income (current transfer) receipts /1/,9-Imports of goods and services and income payments (debits),...,NaN,30-Balance on current account (line 1 less line 9) /4/,31-Balance on goods and services (line 2 less line 10),32-Balance on goods (line 3 less line 11),33-Balance on services (line 4 less line 12),34-Balance on primary income (line 5 less line 13),35-Balance on secondary income (line 8 less line 16),36-Balance on capital account (line 17 less line 18) /4/,37-Net lending (+) or net borrowing (-) from current- and capital-account transactions (line 30 plus line 36) /5/,38-Net lending (+) or net borrowing (-) from financial-account transactions (line 19 less line 24 plus line 28) /5/
1960,NaN,30555.0,25939.0,19650.0,6289.0,4616.0,4616.0,NaN,NaN,27732.0,...,NaN,2825.0,3508.0,4892.0,-1385.0,3378.0,-4061.0,NaN,2825.0,1805.0

In [8]:
ita11_cols = {'31-Balance on goods and services (line 2 less line 10)': 'tradebal',
             '32-Balance on goods (line 3 less line 11)': 'goodbal',
             '33-Balance on services (line 4 less line 12)':'servbal'
             }
public = pd.merge(left=public, right=ita11[ita11_cols.keys()], left_index=True, right_index=True)

# Express in billions
public[list(ita11_cols.keys())] = public[list(ita11_cols.keys())]/1000  
public = public.rename(columns=ita11_cols)

### ITA Table 4.2 (data in millions)

In [9]:
ita42 = pd.read_excel('../1-raw-data/Ita_T4.2.xls', header=5, skipfooter=9)
temp = ita42.columns.to_list()
temp[1] = 'Series'
ita42.columns = temp
ita42['Series'] = ita42['Line']+'-'+ita42['Series'].str.strip()
ita42 = ita42.drop('Line', axis=1)
ita42 = ita42.set_index(['Series'])
ita42 = ita42.stack().unstack(['Series'])
ita42.index = ita42.index.astype(int)
ita42.head(1)

Series,-Receipts,"1-Direct investment income on assets, asset/liability basis (table 4.1, line 3) /1/",2-Income on equity,3-Dividends and withdrawals,4-Reinvested earnings,5-Interest,6-U.S. parents' receipts,7-U.S. affiliates' receipts,8-Less: Adjustments to convert to directional basis,9-U.S. parents' interest payments,...,62-Income on equity without current-cost adjustment (line 49 less line 53),63-Manufacturing,64-Wholesale trade,65-Finance (including depository institutions) and insurance,66-Other,"67-Interest, net payments",68-Manufacturing,69-Wholesale trade,70-Finance (including depository institutions) and insurance,71-Other
1982,,34243,31343,23058,8285,2900,2264,636,4774,4138,...,1126,n.a.,n.a.,n.a.,n.a.,2165,n.a.,n.a.,n.a.,n.a.

In [10]:
ita42_cols = {'2-Income on equity':'usdiaincn',
              '26-Income on equity without current-cost adjustment (line 12 less line 16)':'usdiaincn_wocca',
              '57-Direct investment income without current-cost adjustment on inward investment, directional basis (line 48 less line 53) /2/':'fdiusinc',
              '20-Direct investment income without current-cost adjustment on outward investment, directional basis (line 11 less line 16) /2/':'usdiainc'
             }

public = pd.merge(left=public, right=ita42[ita42_cols.keys()].astype(int), left_index=True, right_index=True)

# Express in billions
public[list(ita42_cols.keys())] = public[list(ita42_cols.keys())]/1000

public = public.rename(columns=ita42_cols)
public['income_adj_factor'] = public['usdiaincn']/public['usdiaincn_wocca']

## Oil prices

These data are from FRED (code = 'WTISPLC').

In [11]:
poil = pd.read_excel('../1-raw-data/WTISPLC.xls', header=10)
poil = poil.set_index(poil['observation_date'].dt.year)
poil = poil.rename(columns={'WTISPLC':'poil'})
poil.head(1)

                 observation_date       poil
observation_date
1982                   1982-01-01  33.635833

In [12]:
public = pd.merge(left=public, right=poil['poil'], left_index=True, right_index = True)
public.head(1)

,gnpn,gdpn,gvabusn,gvabusr,gdin,cfcn,corpincn,compn,dom_profitn,gva_deflator,tradebal,goodbal,servbal,usdiaincn,usdiaincn_wocca,fdiusinc,usdiainc,income_adj_factor,poil
1982,3380.299,3343.789,2568.636,4649.957,3334.953,272.52,1745.861,1275.114,197.27,0.5524,-24.156,-36.485,12.33,31.343,27.865,3.291,25.991,1.124816,33.635833

## IIP tables
Available to download [here](https://apps.bea.gov/iTable/bp_download_modern.cfm?pid=5).

In [13]:
iip21 = pd.read_excel('../1-raw-data/Iip_T2.1.xls', header=5, nrows=47, na_values=['n.a.', '.....', ' ', '\xa0'])
iip21['Series'] = iip21['Line'].astype(str)+'-'+iip21['Type of investment'].str.strip()
iip21 = iip21.drop(['Line', 'Type of investment'], axis=1)
iip21.set_index(['Series'], inplace=True)
iip21 = iip21.transpose()
iip21.index = iip21.index.astype(int)
iip21.head(1)

Series,nan-Assets / outward investment,"1.0-U.S. direct investment assets at market value, asset/liability basis (table 1.1, line 7) /1/",2.0-Equity,3.0-Debt instruments,4.0-U.S. parents' claims,5.0-U.S. affiliates' claims,6.0-Less: Adjustments to convert to directional basis,7.0-U.S. parents' liabilities,8.0-U.S. affiliates' claims,"9.0-Equals: Outward direct investment (U.S. direct investment abroad) at market value, directional basis /2/",...,"35.0-Direct investment assets at current cost, asset/liability basis /1/",36.0-Equity,37.0-Debt instruments,38.0-Less: Adjustments to convert to directional basis,"39.0-Equals: Outward direct investment at current cost, directional basis /2/","40.0-Direct investment liabilities at current cost, asset/liability basis /1/",41.0-Equity,42.0-Debt instruments,43.0-Less: Adjustments to convert to directional basis,"44.0-Equals: Inward direct investment at current cost, directional basis /2/"
1982,NaN,295981.0,227369.0,68612.0,59907.0,8705.0,69343.0,60638.0,8705.0,226638.0,...,443402.0,374790.0,68612.0,69343.0,374059.0,254185.0,153606.0,100579.0,69343.0,184842.0

In [14]:
iip21_cols = {'32.0-Equals: Inward direct investment at historical cost, directional basis':'fdiusstks',
              '15.0-Equals: Outward direct investment at historical cost, directional basis':'usdiastks'}

public = pd.merge(left=public, right=iip21.loc[1982:2016,iip21_cols.keys()], left_index=True, right_index=True, how='right')
# Express in billions
public[list(iip21_cols.keys())] = public[list(iip21_cols.keys())]/1000
public = public.rename(columns=iip21_cols)

## Direct investment income by country
Downloaded from [here](https://apps.bea.gov/iTable/iTable.cfm?reqid=2&step=1&isuri=1#reqid=2&step=1&isuri=1).

In [15]:
tax_havens = ['Ireland', 'Luxembourg', 'Netherlands', 'Switzerland', 'Liechtenstein', 'Costa Rica', 'Bahamas', 'Barbados',
              'United Kingdom Islands, Caribbean[2]', 'Bermuda', 'Hong Kong', 'Singapore']

usdiainc_cty = pd.read_excel('../1-raw-data/usdiainc_country.xls', header=6, nrows=253, 
                             na_values=['n.s.', '(*)', '(D)', '----', '---', '...', '--'])
usdiainc_cty = usdiainc_cty.rename(columns={'Unnamed: 0':'country'})
usdiainc_cty['country'] = usdiainc_cty['country'].str.strip()
usdiainc_cty = usdiainc_cty.set_index('country').transpose()
usdiainc_cty.index = usdiainc_cty.index.astype(int)
usdiainc_cty['usdiainc_havens'] = usdiainc_cty[tax_havens].sum(axis=1)
usdiainc_cty['usdiainc_nhavens'] = usdiainc_cty['All Countries Total'] - usdiainc_cty['usdiainc_havens']
public = pd.merge(left=public, right=usdiainc_cty[['usdiainc_havens', 'usdiainc_nhavens']], left_index=True, right_index=True)

# Express in billions
public[['usdiainc_havens', 'usdiainc_nhavens']] = public[['usdiainc_havens', 'usdiainc_nhavens']]/1000

## Direct investment position by country
Download from [here](https://apps.bea.gov/iTable/iTable.cfm?reqid=2&step=1&isuri=1#reqid=2&step=1&isuri=1).

In [16]:
usdia_cty = pd.read_excel('../1-raw-data/usdia_country.xls', header=6, nrows=253, 
                             na_values=['n.s.', '(*)', '(D)', '----', '---', '...', '--'])
usdia_cty = usdia_cty.rename(columns={'Unnamed: 0':'country'})
usdia_cty['country'] = usdia_cty['country'].str.strip()
usdia_cty = usdia_cty.set_index('country').transpose()
usdia_cty.index = usdia_cty.index.astype(int)
usdia_cty['usdia_havens'] = usdia_cty[tax_havens].sum(axis=1)
usdia_cty['usdia_nhavens'] = usdia_cty['All Countries Total'] - usdia_cty['usdia_havens']
usdia_cty[['usdia_havens', 'usdia_nhavens']].head()
public = pd.merge(left=public, right=usdia_cty[['usdia_havens', 'usdia_nhavens']], left_index=True, right_index=True)

# Express in billions
public[['usdia_havens', 'usdia_nhavens']] = public[['usdia_havens', 'usdia_nhavens']]/1000

## Total value added for MNE parents and affiliates

1. Parents from [here](https://apps.bea.gov/iTable/iTable.cfm?reqid=2&step=10&isuri=1&step1prompt1=1&step2prompt3=14&step1prompt2=2&step8prompt10a=94&step4prompt5=99&step3prompt4=6&step5prompt6=1,2&step7prompt8=40,41,42,43,48,49,52,55,56,58,60&step8prompt9a=45)
2. Affiliates from [here](https://apps.bea.gov/iTable/iTable.cfm?reqid=2&step=10&isuri=1&step1prompt1=1&step2prompt3=13&step1prompt2=2&step8prompt10a=94&step4prompt5=99&step3prompt4=6&step5prompt6=1,2&step7prompt8=40,41,42,43,48,49,52,55,56,58,60&step8prompt9a=45)

In [17]:
total_aff_va = pd.read_csv('../1-raw-data/va-total-affiliate.csv', header=5, nrows=1, index_col='Unnamed: 0').transpose()
total_par_va = pd.read_csv('../1-raw-data/va-total-parent.csv', header=5, nrows=1, index_col='Unnamed: 0').transpose()

total_aff_va.index = total_aff_va.index.astype(int)
total_par_va.index = total_par_va.index.astype(int)

# Express in billions
total_mne_va = (total_par_va+total_aff_va)/1000
total_mne_va.columns = ['total_mne_va']

total_par_va = total_par_va/1000
total_par_va.columns = ['total_mne_dom_va']

public = pd.concat([public, total_mne_va.loc[:2016], total_par_va.loc[:2016]], axis=1)
public.head(1)

,gnpn,gdpn,gvabusn,gvabusr,gdin,cfcn,corpincn,compn,dom_profitn,gva_deflator,...,income_adj_factor,poil,fdiusstks,usdiastks,usdiainc_havens,usdiainc_nhavens,usdia_havens,usdia_nhavens,total_mne_va,total_mne_dom_va
1982,3380.299,3343.789,2568.636,4649.957,3334.953,272.52,1745.861,1275.114,197.27,0.5524,...,1.124816,33.635833,124.677,207.752,8.046,16.782,43.917,163.835,NaN,NaN

## Employment data for United States

From BLS

1. Go here: https://data.bls.gov/cgi-bin/srgate
2. Enter: 'PRS84006033'
3. Choose "Annual data" and then hit retrieve. 
4. Download the xlsx file

In [19]:
hrs = pd.read_excel('../1-raw-data/bls-PRS84006033.xlsx', header=10, index_col='Year')
hrs = hrs.rename(columns={'Annual':'hrs'})
public = pd.merge(left=public, right=hrs, left_index=True, right_index=True)

/Users/danielfichmann/Library/Python/3.9/lib/python/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

## Write the file

Write the DataFrame to the `3 intermediate files` to be used in the analysis.

In [20]:
public.index.name = 'year'
public.to_csv('../3-intermediate-files/aggregate.csv')
public

,gnpn,gdpn,gvabusn,gvabusr,gdin,cfcn,corpincn,compn,dom_profitn,gva_deflator,...,poil,fdiusstks,usdiastks,usdiainc_havens,usdiainc_nhavens,usdia_havens,usdia_nhavens,total_mne_va,total_mne_dom_va,hrs
year,,,,,,,,,,,,,,,,,,,,,
1982,3380.299,3343.789,2568.636,4649.957,3334.953,272.520,1745.861,1275.114,197.270,0.552400,...,33.635833,124.677,207.752,8.046,16.782,43.917,163.835,NaN,NaN,73.952
1983,3671.122,3634.038,2801.887,4896.401,3577.085,285.876,1886.483,1352.980,244.711,0.572234,...,30.395000,137.061,212.150,8.344,18.916,47.690,164.460,NaN,NaN,75.315
1984,4073.903,4037.613,3136.701,5330.710,3996.035,303.168,2131.464,1501.072,301.313,0.588421,...,29.275500,164.583,218.093,8.204,22.542,50.386,167.707,NaN,NaN,79.723
1985,4364.344,4338.979,3369.644,5579.285,4284.716,326.864,2274.439,1615.931,316.390,0.603956,...,27.972750,184.615,238.369,7.994,20.784,55.084,183.285,NaN,NaN,81.552
1986,4596.588,4579.631,3539.300,5781.967,4499.578,349.868,2356.695,1723.353,284.900,0.612127,...,15.040000,220.414,270.472,9.321,21.719,64.579,205.893,NaN,NaN,82.194
1987,4872.702,4855.215,3735.245,5989.477,4811.392,371.292,2523.622,1847.640,317.973,0.623635,...,19.161917,263.394,326.253,11.107,28.921,77.761,248.492,NaN,NaN,84.663
1988,5259.095,5236.438,4019.261,6246.006,5233.436,399.856,2742.499,2002.309,357.471,0.643493,...,15.959583,314.754,347.179,12.541,39.516,79.777,267.402,NaN,NaN,86.987
1989,5666.369,5641.580,4326.705,6485.121,5573.590,427.148,2892.834,2119.332,347.166,0.667174,...,19.590833,368.924,381.781,14.015,39.914,84.632,297.149,NaN,NaN,89.276
1990,5997.836,5963.144,4541.951,6588.974,5867.597,454.688,3012.451,2234.926,341.641,0.689326,...,24.492917,394.911,430.521,16.015,41.989,92.807,337.714,NaN,NaN,88.920
1991,6189.716,6158.129,4645.036,6548.808,6065.161,479.628,3074.810,2277.820,376.118,0.709295,...,21.481250,419.108,467.844,14.944,37.143,98.815,369.029,NaN,NaN,86.991
1992,6551.404,6520.327,4920.243,6826.059,6404.393,494.348,3247.593,2420.482,404.080,0.720803,...,20.561417,423.131,502.063,15.517,35.048,111.707,390.356,NaN,NaN,86.633
1993,6889.717,6858.559,5177.421,7020.747,6702.609,517.188,3401.154,2515.738,447.636,0.737446,...,18.458167,467.412,564.283,16.938,42.443,126.011,438.272,NaN,NaN,89.019
1994,7310.202,7287.236,5523.723,7359.275,7147.285,547.584,3661.797,2649.014,546.808,0.750580,...,17.185833,480.667,612.893,22.206,46.781,133.679,479.214,NaN,NaN,92.774
1995,7667.701,7639.749,5795.057,7585.461,7546.742,590.428,3882.947,2787.890,613.253,0.763969,...,18.427500,535.553,699.015,24.792,62.554,151.454,547.561,NaN,NaN,94.945
1996,8103.991,8073.122,6159.547,7937.640,8015.042,626.332,4142.813,2953.697,687.527,0.775992,...,22.154167,598.021,795.195,27.486,66.108,183.491,611.704,NaN,NaN,96.976
1997,8600.853,8577.552,6578.777,8354.290,8565.968,670.056,4471.763,3176.578,762.170,0.787473,...,20.599167,681.842,871.316,33.043,71.751,212.493,658.823,NaN,NaN,99.893
1998,9080.228,9062.817,6959.242,8813.767,9118.057,714.988,4758.431,3447.481,705.689,0.789588,...,14.388333,778.418,1000.703,32.345,58.331,262.111,738.592,NaN,NaN,101.879
1999,9662.075,9631.172,7401.827,9323.049,9659.484,769.632,5031.443,3684.312,713.190,0.793928,...,19.251667,955.726,1215.960,42.569,71.779,341.829,874.131,NaN,NaN,103.517
2000,10289.432,10250.952,7875.919,9741.311,10345.187,838.608,5375.821,4008.927,640.896,0.808507,...,30.298333,1256.867,1316.247,46.100,87.592,387.239,929.008,NaN,NaN,104.929
2001,10632.293,10581.929,8057.660,9799.653,10695.703,888.584,5311.123,4013.811,589.908,0.822239,...,25.924167,1343.987,1460.352,46.926,63.103,506.467,953.885,NaN,NaN,102.822
2002,10974.902,10929.108,8256.042,9966.643,11006.430,914.580,5379.700,3972.742,754.935,0.828367,...,26.097500,1327.170,1616.548,54.873,70.067,587.268,1029.280,NaN,NaN,100.317
2003,11514.946,11456.450,8642.863,10281.183,11476.349,932.524,5588.129,4040.875,897.327,0.840649,...,31.140000,1395.159,1769.613,71.702,93.501,652.915,1116.698,NaN,NaN,99.670
2004,12293.909,12217.196,9249.327,10733.309,12240.929,973.000,5982.851,4240.204,1094.195,0.861740,...,41.438333,1520.316,2160.844,100.827,127.338,792.016,1368.828,NaN,NaN,100.893
2005,13113.997,13039.197,9910.997,11154.841,13091.716,1042.040,6439.907,4442.988,1262.917,0.888493,...,56.465833,1634.121,2241.656,122.804,149.073,804.434,1437.222,NaN,NaN,102.569
2006,13862.043,13815.583,10524.714,11520.185,14019.922,1119.260,6905.616,4681.230,1406.546,0.913589,...,66.103333,1840.463,2477.268,132.454,171.660,953.612,1523.656,NaN,NaN,104.851
2007,14569.892,14474.228,10997.811,11766.087,14454.439,1188.896,7003.881,4894.238,1195.398,0.934704,...,72.362500,1993.156,2993.980,164.971,185.266,1241.741,1752.239,NaN,NaN,105.478
2008,14915.076,14769.862,11061.784,11663.555,14572.897,1256.576,6848.436,4940.328,895.656,0.948406,...,99.567500,2046.662,3232.493,184.324,208.630,1372.683,1859.810,NaN,NaN,103.293
2009,14628.309,14478.067,10659.603,11234.613,14276.027,1263.800,6545.084,4607.471,1038.031,0.948818,...,61.693333,2069.438,3565.020,183.314,156.725,1598.244,1966.776,3740.733,2595.776,95.997
2010,15254.603,15048.970,11137.846,11597.569,14966.439,1271.164,6955.309,4700.760,1342.952,0.960360,...,79.427500,2280.044,3741.910,218.478,199.127,1704.999,2036.911,4190.898,2948.661,95.860
2011,15837.664,15599.731,11614.859,11825.687,15612.046,1324.620,7288.806,4927.979,1397.224,0.982172,...,95.076667,2433.848,4050.026,233.672,214.563,1926.449,2123.577,4576.754,3160.862,97.784
2012,16486.727,16253.970,12206.443,12206.443,16442.838,1392.452,7779.340,5182.659,1592.051,1.000000,...,94.200833,2584.708,4410.015,243.561,194.528,2130.931,2279.084,4663.824,3249.145,100.000
2013,17073.493,16843.196,12689.644,12506.726,16958.033,1450.178,8019.598,5352.415,1611.854,1.014626,...,97.935833,2727.825,4579.713,262.701,186.189,2310.477,2269.236,4882.107,3487.281,101.541
2014,17785.914,17550.687,13279.803,12874.003,17807.867,1527.520,8518.398,5645.238,1715.338,1.031521,...,93.258333,2945.795,5108.835,279.162,177.960,2690.265,2418.570,5379.638,3889.485,103.952
2015,18426.407,18206.023,13804.846,13313.164,18440.526,1588.154,8883.740,5944.364,1665.281,1.036932,...,48.688333,3354.907,5289.071,279.499,153.834,2905.958,2383.113,5308.008,3949.236,106.318
2016,18927.050,18695.106,14168.496,13564.116,18788.535,1627.417,9021.219,6099.637,1617.783,1.044557,...,43.144167,3561.808,5518.644,288.627,142.321,2996.863,2521.781,5218.251,3916.185,107.860